.landing-grid .container {
    display: inline;
    text-align: center;
}

.landing-grid .col-md-3 {
    height: 450px;
    overflow: hidden;
    margin-bottom: 20px;
}

.landing-grid .col-content {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 0.05rem solid black;
}

.landing-grid img {
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}


